
$primary-color : #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$header1: 2.4rem;
$header2: 2.4rem;
$header3: 1.2rem;
$header4: 1.4rem;
$text: 1.5rem;


@mixin flex{
    display:flex;
    justify-content: center;
    align-items: center;
}


@mixin position($justify, $direction){
    display:flex;
    justify-content:$justify;
    align-items:center;
    flex-direction:$direction;
}

@import 'global';
@import 'header';
@import 'home';
@import 'footer';




